/* ---------------------------------------------------------------------- */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

#contenedor #contenedor02{
	max-width:767px;
	min-height: 350px;
/*	background-image: none;*/
	width: 100%;
	padding: 0px;
	background-position: center, center;
/*	background-size: auto, cover;
	background-repeat: repeat , no-repeat;
	background-attachment: fixed; */
	background-size: auto, cover;
	margin: 0px;
}



#contenedor #contenedor02 #c-ls,
#contenedor #contenedor04 #h-ls{
	width: 100%;
	max-width:479px;
	padding: 0px;
	margin: 0px;
	align-items: center;
	align-content:center;
	justify-content: center;	
}

#contenedor #contenedor02 #c-ls  #logo,
#contenedor #contenedor04 #h-ls  #h-logo{
	width: 50%;
	margin: 0px auto;
	padding: 10px;
}

#contenedor #contenedor02 #c-ls #logo img
{
	width: 70%;
}

#contenedor #contenedor02 #c-ls #slogan,
#contenedor #contenedor04 #h-ls #slogan{
  width: 50%;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  text-align: right;
}

#contenedor #contenedor02 #c-ls #slogan p,
#contenedor #contenedor02 #c-ls #slogan h1,
#contenedor #contenedor04 #h-ls #slogan p,
#contenedor #contenedor04 #h-ls #slogan h1{
  font-size: 2.1em;
  padding: 3px;
  margin: 0px;
}

#contenedor04 #h-ls #d-servicios{
  width: 100%;
  padding: 10px;
}

#contenedor #contenedor04 #h-ls #d-servicios{
	width: 100%;
}

#contenedor  #contenedor04 #h-ls  #h-logo{
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0px auto;
}

#contenedor #contenedor04 #h-ls nav{
  width: 100%;
  padding: 10px;
}
#c-ls #d-servicios{
	width:100%;
	clear:both;
	border-top: 2px solid white;
}

#contenedor #contenedor02 #c-ls #d-servicios nav,
#h-ls #d-servicios nav{
	max-width:479px;
}

#c-ls #d-servicios nav ul{ 
	
}

#contenedor #contenedor02 #c-ls #d-servicios nav ul li,
#contenedor #contenedor04 #h-ls #d-servicios nav ul li{
	margin-bottom: 4px;
	padding: 7px;
}

#contenedor #contenedor02 #c-ls #d-servicios nav ul li a,
#contenedor #contenedor04 #h-ls #d-servicios nav ul li a{
	padding: 4px;
}


#m-entradas-home .post{
	width:100%;
}

	/*
#m-body .grid{
	max-width: 767px;
	margin: 0px auto;
}

#m-header #c-ls{
	width: 90%;
	margin:0px auto;
	padding: 7px;
}

#m-header #c-buscar{
	width: 100%;	
}

#m-header #c-ls #slogan p{
  font-size: 1.5em;
}

#m-header #c-ls #slogan h1{
  font-size: 2.2em;
}


#ls #m-slide{
	width: 100%;
}


#m-body #contenido{
	width:100%;
}

#m-body #contenido #m-iz{
	width:100%;
	order:2;
}

#m-body #contenido #m-der{
	width:100%;	
	order:1;
}

*/	
}


