/* ---------------------------------------------------------------------- */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

#contenedor #contenedor02{
	max-width:767px;
	min-height: 350px;
/*	background-image: none;*/
	width: 100%;
	padding: 0px;
	background-position: center, center;
/*	background-size: auto, cover;
	background-repeat: repeat , no-repeat;
	background-attachment: fixed; */
	background-size: auto, cover;
	margin: 0px;
}

#contenedor #contenedor04{
	padding-bottom: 10px;
}


#contenedor #contenedor02 #c-ls{
	width: 100%;
	max-width:767px;
	padding: 0px;
	margin: 0px;
	align-items: center;
	align-content:center;
	justify-content: center;	
}

#contenedor #contenedor04 #h-ls{
	width: 100%;
	max-width:767px;
	padding: 0px;
	margin: 0px;
	align-items: center;
	align-content:center;
	justify-content: center;
}


#contenedor #contenedor02 #c-ls  #logo{
	width: 50%;
	margin: 0px auto;
	padding: 10px;
}

#contenedor #contenedor04 #h-ls  #h-logo{
	width: 30%;
	margin: 0px auto;
	padding: 10px;
}


#contenedor #contenedor02 #c-ls #logo img
{
	width: 70%;
}

#contenedor #contenedor02 #c-ls #slogan,
#contenedor #contenedor04 #h-ls #slogan{
  width: 50%;
  font-size: 16px;
  padding: 0px 10px 0px 0px;
  margin: 0px 0px 0px 0px;
  text-align: right;
}

#contenedor #contenedor02 #c-ls #slogan p,
#contenedor #contenedor02 #c-ls #slogan h1,
#contenedor #contenedor04 #h-ls #slogan p,
#contenedor #contenedor04 #h-ls #slogan h1{
  font-size: 2.1em;
  padding: 3px;
  margin: 0px;
}


#contenedor04 #h-ls #d-servicios{
  width: 100%;
  padding: 10px;
}

#contenedor #contenedor04 #h-ls #d-servicios{
	width: 100%;
}

#contenedor #contenedor04 #h-ls  #h-logo{
  width: 30%;
  padding: 10px;
 /* justify-content: center;
  align-items: center;
  align-content: center; */
  margin: 0px auto;
}

#contenedor #contenedor04 #h-ls nav{
  width: 100%;
  padding: 10px;
}

#contenedor #contenedor02 #c-ls #d-servicios{
	width:100%;
	clear:both;
	border-top: 2px solid white;
}

#contenedor #contenedor04 #h-ls #d-servicios{
	width:67%;
	clear:both;
	padding:0px 7px 0px 0px;
}

#contenedor #contenedor02 #c-ls #d-servicios nav,
#h-ls #d-servicios nav{
	max-width:767px;
}

#c-ls #d-servicios nav ul{ 
	
}

#contenedor #contenedor02 #c-ls #d-servicios nav ul li,
#contenedor #contenedor04 #h-ls #d-servicios nav ul li{
	margin-bottom: 4px;
	padding: 7px;
}

#contenedor #contenedor02 #c-ls #d-servicios nav ul li a,
{
	padding: 4px;
}

#contenedor #contenedor04 #h-ls #d-servicios nav ul li a{
	padding: 4px;
	font-size:1.2em;
}




/*
#contenedor02{
	max-width:767px;
	background-image: none;
	background-color: green;
	padding-bottom: 10px;	
}

#contenedor04{
	background-color: red;
	padding-bottom: 10px;
}

.post{
	width:100%;
}
*/
/*

#m-body .grid{
	max-width: 767px;
	margin: 0px auto;
}

#ls{
	display:flex;
	box-sizing:border-box;
	width: 100%;
}

#ls #m-logo{
	width: 100%;
	margin:0px solid;
}

#ls #m-logo img{
	width: 150px;
	height: auto;
}

#ls #m-slide{
	width: 100%;
}

.playing #listens{
	margin: 7px auto 7px auto;
}

.playing .cc_streaminfo{
	color: #010133;
	clear:both;
	display:block;
	padding-top: 10px;
	padding-bottom: 10px;
}

#m-body #contenido{
	width:100%;
}

#m-body #contenido #m-iz{
	width:100%;
	order:2;
}

#m-body #contenido #m-der{
	width:100%;	
	order:1;
}

*/


	
}

