
$negro: #000000;
$blanco: #ffffff;
$grismasclaro: #e9e9e9;
$grisoscuro: #333333;
$grisclaro: #f2f2f2;
$rosa: #e74c3c;
$amarillo: #ffcc00;
$gris: #8c8c8c;
$rojo: #b20013;
$celeste: $amarillo;
$verde: #00b63f;
$verde2: #46b271;
$azul:#010133;
$azul2:#27d7ec;
$azul3:#3886ff;
$anaranjado:#ff3300;


@mixin transicion_a(){
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

@mixin texto_sombra($x,$y,$z){
	text-shadow: $x+px $y+px $z+px rgba(3, 3, 0, 1);
}

@mixin transparencia(){
  background-color: rgba(120, 159, 198, 0.8);
  background: rgba(120, 159, 198, 0.8);
}

@mixin radio($valor: 5){
	-webkit-border-radius: $valor+px;
	-moz-border-radius: $valor+px;
	border-radius: $valor+px;
}

@mixin circulo-d(){
	    -webkit-box-shadow: 0px 3px 54px -8px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 3px 54px -8px rgba(0,0,0,0.37);
    box-shadow: 0px 3px 54px -8px rgba(0,0,0,0.37);
    border-radius: 50% 50% /50% 50%;
    -webkit-border-radius: 50% 50% /50% 50%;
    -moz-border-radius: 50% 50% /50% 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    text-align: center;
    vertical-align: middle;
    align-self: center;
    -webkit-align-self: center;
}

@mixin opacidad($valor: 80){
	filter: alpha(opacity=$valor);
	-moz-opacity: 1.0;
	opacity: 0.5;
	-khml-opacity:1.0;
}

@mixin circulo(){
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

@mixin sombra(){
	box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); 
}

@mixin celevada(){
		-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
		   -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
				box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
	}


@mixin sombra_hover(){
	box-shadow: 0 0 8px rgba(0, 120, 240, .8); 
	-webkit-box-shadow: 0 0 8px rgba(0, 120, 240, .8); 
	-moz-box-shadow: 0 0 8px rgba(0, 120, 240, .8); 
}


@mixin borde($valor,$color){
	border: $valor solid $color;
}

@mixin titulo(){
	color: $blanco;
	font-family: 'oswaldbold';
	background-color: #010133;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	padding: 10px;
	width: 100%;
	font-size: 24px;
	margin-bottom: 10px;
}

@mixin titulos($color, $texto){
	background-color: $color;
	box-sizing:border-box;
	display: flex;
	color: $texto;
	align-items: center;
	justify-content: space-between;
}

@mixin tit_h3($colorh3){
	color:$colorh3;
	font-family: 'oswaldbold';
	text-transform:uppercase;
	list-style: none;
	text-decoration: none;
}


@mixin titulo_cuadro($color){
	background-color:$color;
	padding: 24px 0px 17px 25px;
	box-sizing:border-box;

}

#titulo_cuadro h3{
	font-size: 1.1em;
	color:$blanco;
	font-family: 'oswaldbold';
	text-transform:uppercase;
}

@mixin tit_span(){
	margin-right: 3px;
	margin-left: 10px;
	list-style: none;
	text-decoration: none;
}


@mixin left(){
	float: left;
	margin: 20px 20px 20px 0px;
}

@mixin right(){
	float: right;
	margin: 20px 0px 20px 20px;
}

@mixin center(){
	text-align: center;
	margin:10px auto;
	clear: both;
	display: block;
}